<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lamoulies d'Or</title>
    <link rel="stylesheet" href="/static/style/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.11.1/slimselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.11.1/slimselect.min.css" rel="stylesheet"></link>
  </head>
  <body>
    {% if error %}
    <div id="login">
      <h1>Lamoulies <strong>d'OR</strong></h1>
      <p class="description">Connectez vous pour pouvoir votez !</p>
      <div id="button-container">
        <div class="line"></div>
        <a href="{% url 'social:begin' 'google-openidconnect' %}">Login with Google</a>
      </div>
      <img src="/static/img/unicorn-3090550_1920.jpg"/>
    </div>
    {% else %}
      <div>
        {% for field in form %}
          <div class="question">
            {{ field.label_tag }}
            <p>
              {{ field.help_text}}
            </p>
            {{ field }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <script type="text/javascript">
      function postAnswer (question, answer) {
        let xhr = new XMLHttpRequest()
        xhr.open('POST', '/answer/')
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
        xhr.send(`question=${question}&choice=${answer}`)
      }

      function onChange (event) {
        if (this.value.length) {
          let questionId = this.name.split('_')[1]
          let choice = this.value
          postAnswer(questionId, choice)
        }
      }

      let selectElts = document.querySelectorAll('select')

      for (let select of selectElts) {
        if (select.children[0].dataset.placeholder !== true) {
          select.children[0].dataset.placeholder = true
        }

        select.onchange = onChange

        new SlimSelect({
          select: select,
          allowDeselect: true,
          placeholder: 'Selectionner un choix',
          searchHighlight: true
        })
      }
    </script>
  </body>
</html>
